{% extends '@Block/html5/base.html.twig' %}

{% block section_content %}
    {% set defaultFormat = 'before_after' %}
    <div class="columns-container">
        {% block title %}
            {% if block['title'] is defined and block['title'] is not empty %}
                <div class="title">
                    <h2>{{ block['title'] }}</h2>
                </div>
            {% endif %}
        {% endblock %}
        <div class="column-three">
            {% block column_one %}
                <div class="column">
                    <div class="column-content">
                        {% if block['image_one'] is defined and block['image_one'] is not empty %}
                            {% set resolved_image = (blockview) ? block['image_one'] : sulu_resolve_media(block['image_one']['id'], app.request.locale) %}
                            {% set image %}
                                {% set defaultFormat = 'column' %}
                                {% set mobileFormat = 'column_mobile' %}
                                {{ get_image(resolved_image|default, defaultFormat, {
                                    '(max-width: 991px)': mobileFormat,
                                }) }}
                            {% endset %}
                            {{ image }}
                        {% endif %}
                        {% if block['title_one'] is defined and block['title_one'] is not empty %}
                            <h3>{{ block['title_one'] }}</h3>{% endif %}
                        {% if block['text_one'] is defined and block['text_one'] is not empty %}
                            <div class="content">{{ block['text_one']|raw }}</div>
                        {% endif %}
                    </div>
                </div>
            {% endblock %}
            {% block column_two %}
                <div class="column">
                    <div class="column-content">
                        {% if block['image_two'] is defined and block['image_two'] is not empty %}
                            {% set resolved_image = (blockview) ? block['image_two'] : sulu_resolve_media(block['image_two']['id'], app.request.locale) %}
                            {% set image %}
                                {% set defaultFormat = 'column' %}
                                {% set mobileFormat = 'column_mobile' %}
                                {{ get_image(resolved_image|default, defaultFormat, {
                                    '(max-width: 991px)': mobileFormat,
                                }) }}
                            {% endset %}
                            {{ image }}
                        {% endif %}
                        {% if block['title_two'] is defined and block['title_two'] is not empty %}
                            <h3>{{ block['title_two'] }}</h3>{% endif %}
                        {% if block['text_two'] is defined and block['text_two'] is not empty %}
                            <div class="content">{{ block['text_two']|raw }}</div>
                        {% endif %}
                    </div>
                </div>
            {% endblock %}
            {% block column_three %}
                <div class="column">
                    <div class="column-content">
                        {% if block['image_three'] is defined and block['image_three'] is not empty %}
                            {% set resolved_image = (blockview) ? block['image_three'] : sulu_resolve_media(block['image_three']['id'], app.request.locale) %}
                            {% set image %}
                                {% set defaultFormat = 'column' %}
                                {% set mobileFormat = 'column_mobile' %}
                                {{ get_image(resolved_image|default, defaultFormat, {
                                    '(max-width: 991px)': mobileFormat,
                                }) }}
                            {% endset %}
                            {{ image }}
                        {% endif %}
                        {% if block['title_three'] is defined and block['title_three'] is not empty %}
                            <h3>{{ block['title_three'] }}</h3>{% endif %}
                        {% if block['text_three'] is defined and block['text_three'] is not empty %}
                            <div class="content">{{ block['text_three']|raw }}</div>
                        {% endif %}
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>

{% endblock %}
